@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff5f4;
  font-size: Roboto;
}

.main-container-wrapper {
  padding: 1vh 2vh 0 2vh;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.heading-title-h1 {
  font-family: Oswald !important;
  color: #441c1e;
  white-space: nowrap;
  font-size: 2.5em !important;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin: 2vh 1vh;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.coffee-layer {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #755044;
  border: 4px solid #45312c;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: Oswald;
  color: #f5f5f5;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.coffee-layer-favorite {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.water-layer {
  margin: auto;
  width: 100%;
  height: 50%;
  background-color: #fff5f4;
  border: 4px solid #eee5e5;
  font-family: Oswald;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3em;
}
#coffee-cup-outline,
.coffee-cup-outline-favorite {
  width: 23vh;
  position: relative;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#coffee-cup-outline {
  margin-left: 2vh;
}
.coffee-cup-outline-favorite {
  max-height: 13vh;
  max-width: 15vh;
}

.all-layers-wrapper {
  height: 80%;
  position: absolute;
  bottom: 0;
  padding: 1vh 1vh;
  width: 70%;
  margin: auto;
  margin-left: 2vh;
  margin-bottom: 0.3em;
}

/* favorites coffee cup display */
.coffee-favorite-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee-img-wrapper-favorite {
  position: relative;
  width: 80%;
}

.favorite-layers {
  position: absolute;
  width: 95%;
  bottom: 4px;
  height: 80%;
  padding: 0 7px;
  margin: auto;
}
.coffee-main-page-wrapper {
  padding: 1vh;
  margin-bottom: 0;
  width: 25vh;
  margin: auto;
  margin-top: 5vh;
}
.favorite-list-coffee {
  display: flex;
  justify-content: space-between;
}

.ice-image {
  margin: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-bottom: 1vh;
  background-color: transparent !important;
  display: flex;
  justify-content: space-evenly;
}

.milk-layer {
  z-index: 0;
  position: absolute;
  width: 88%;
  height: 10%;
  background-color: #f3eed9;
  border: 4px solid #d9d5c4;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.favorite-icon {
  color: #d5a454;
}

.logo-icon-wrapper {
  position: relative;
  width: 40vh;
}

.coffee-cup-wrapper {
  width: 20%;
  position: absolute;
  top: 52%;
  left: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-icon-wrapper > img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast !important;
}

.smoke-wrapper img {
  width: 1.2vh;
}

.smoke-wrapper {
  display: flex;
  margin-left: 1vh;
}

.nav-bar-bar {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  color: #441c1e;
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nav-bar-bar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.navbar-icon-label {
  font-size: 0.7em !important;
  white-space: nowrap;
  margin-top: 0.2em;
  font-family: roboto;
}

.small-logo-icon {
  width: 10vh;
  image-rendering: -webkit-optimize-contrast !important;
}

.small-logo-wrapper {
  padding: 0;
  border-radius: 50%;
}

#proportion-slider {
  color: #506c80;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  font-family: roboto;
  font-weight: 600;
  margin: 0 2vh;
  font-size: 1.2em;
}

.nav-bar-icon {
  min-width: 0 !important;
}
.coffee-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vh 1vh;
  border-radius: 8%;
  background-color: #f3eed9;
}

.coffee-component-col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title-coffee {
  justify-content: flex-start;
  align-items: center;
}

.temperature-img {
  width: 6vh;
  height: 6vh;
  image-rendering: -webkit-optimize-contrast;
  padding: 1vh;
  border-radius: 5px;
}

.temperature-btn {
  display: none !important;
}
.temperature-img:hover {
  background-color: #f3eed9 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border: 3px solid #3d1618;
}
.temperature-btn:checked img {
  background-color: #f3eed9 !important;
}

#radio-box-temperature {
  display: flex;
  justify-content: space-around;
  gap: 10vh;
}

.sub-heading-1 {
  font-family: Oswald !important;
  color: #441c1e;
  font-weight: 500 !important;
  margin-bottom: 2vh;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.checkbox-milk {
  font-family: oswald;
  color: #3d1618;
}
.checkbox-box-area {
  display: flex;
  justify-content: space-evenly;
}

.checkbox-milk .chakra-checkbox__control {
  display: none !important;
}
.checkbox-milk .chakra-checkbox__label {
  background-color: #ba8787;
  padding: 0.3em;
  border: 3px solid #3d1618;
  color: #fff5f4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  white-space: nowrap;
  max-width: 18vh;
}

.checkbox-milk .chakra-checkbox__label:hover {
  background-color: #3d1618 !important;
  color: #fff5f4;
  border: 3px solid #3d1618;
}

.chakra-checkbox__input:checked ~ .chakra-checkbox__label {
  background-color: #3d1618 !important;
  color: #fff5f4;
  border: 3px solid #3d1618;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* login  */
#login-page {
  background-color: #3d1618;
  flex-grow: 1;
}
#logo-login {
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eed9;
}
#logo-racoon {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  margin-top: 3em;
  width: 65%;
  image-rendering: -webkit-optimize-contrast !important;
}

#login-top-banner {
  background-color: #f3eed9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.favorites-btn,
.login-btn {
  background-color: #441c1e !important;
  color: #fff5f4;
  font-size: 1.2em !important;
  margin-top: 2vh;
}

#confirm-pw-btn {
  margin: auto;
}

.favorites-btn {
  font-size: 0.7em !important;
  padding: 1vh;
}
.favorites-btn:hover,
.favorites-btn:focus {
  background-color: #755044 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.login-label {
  font-size: 1.3em;
  font-family: Roboto;
  text-transform: capitalize;
  color: #3d1618;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.login-label.password {
  font-size: 1.1em;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#here-link {
  color: #ef616b;
}

.heading-login {
  color: #441c1e;
}

#back-arrow {
  font-size: 2em;
  font-weight: 600;
  color: #441c1e;
}

#back-arrow:hover {
  color: #ef616b;
}

#back-arrow-btn:hover {
  background-color: transparent;
}

.content-main {
  overflow-y: auto;
  position: relative;
}

#delete-btn {
  font-size: 1.3em;
}
#delete-btn-box:hover,
#delete-btn-box:focus {
  background-color: transparent !important;
  box-shadow: none !important ;
}

.nav-bar-tab {
  width: 6vh;
  height: 6vh;
  background-color: transparent !important;
}
.nav-bar-tab:hover,
.nav-bar-tab:focus {
  box-shadow: none !important;
}

.highlight-nav {
  width: 6vh;
  height: 6vh;
}

.highlight-nav:hover {
  color: #f5f5f5;
  background-color: #3d1618;
  border-radius: 50%;
}

.selected-nav {
  padding: 2vh;
  width: 6vh;
  height: 6vh;
  background-color: #3d1618 !important;
  color: #f5f5f5;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

#preset-text {
  color: #3d1618;
}

.ice-cube-img {
  width: 3vh;
  z-index: 2;
}

.component-coffee-title {
  font-size: 1em;
  display: flex;
  justify-content: flex-start !important;
  font-weight: 600;
  align-items: center;
}

#radio-box {
  display: flex;
}

.sugar-btn {
  display: none !important;
}

.sugar-cube,
#no-sugar-cube {
  width: 6vh;
  height: 6vh;
  image-rendering: -webkit-optimize-contrast !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  padding: 5px;
  border-radius: 10%;
  background-color: #ba8787;
  border: 3px solid #441c1e;
}
.sugar-cube:hover,
#no-sugar-cube:hover {
  background-color: #441c1e;
}

.sugar-cube:checked {
  background-color: #441c1e !important;
}

.chakra-radio__input:checked ~ .chakra-radio__label .sugar-cube {
  background-color: #441c1e !important;
}

#translation-card {
  background-color: #3d1618;
  color: #fff5f4;
}
#favorites-box {
  display: flex;
  justify-content: flex-end;
}

#favorites-btn {
  position: fixed;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  bottom: 8vh;
  background-color: #d5a454;
  color: #f3eed9;
  z-index: 2;
}

#star-btn {
  font-size: 1.7em;
}

#translation-option {
  margin-bottom: 16vh;
}

#favorite-star-drink {
  background-color: #d5a454;
  border-radius: 50%;
  color: #f3eed9;
}

.temperature-component-row {
  display: flex;
  justify-content: space-evenly;
}

.coffee-name-favourites-title {
  font-family: roboto;
  font-size: 1.2em;
  font-weight: 600;
  color: #441c1e;
}
.favorite-list {
  padding: 1vh 1vh;
  border-radius: 5px;
  background-color: #f3eed9;
  max-height: 30vh;
}
.favorites-list-wrapper {
  width: 97%;
  margin-bottom: 20vh;
}

.proportion-text-box {
  font-family: oswald;
  color: #3d1618;
  font-size: 1.5vh;
  width: 50%;
}

.proportion-header {
  border-bottom: 2px solid #3d1618;
  width: 14vh;
}

#barista-translate-text {
  font-family: oswald;
  font-size: 1.3em;
  color: #3d1618;
}
.favourites-text-proportion {
  font-size: 1.1em;
}
#edit-btn {
  all: unset;
  cursor: pointer;
}

#edit-btn * {
  font-size: 1.2em;
  color: #3d1618;
}

#notes-display {
  font-family: oswald;
  margin-left: 2vh;
}

#coffee-cup-profile {
  width: 10vh;
  margin: auto;
}

#coffee-cup-wrapper-profile {
  width: 18vh;
  margin: auto;
  display: column;
}

.smoke-wrapper.profile {
  justify-content: center;
  margin-right: 2vh;
  margin-bottom: 1vh;
}

.chakra-radio__input:checked ~ .chakra-radio__label .temperature-img {
  background-color: #f3eed9 !important;
  border: 3px solid #3d1618;
}
