@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcfdff;
}

.main-container-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.coffee-layer {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #755044;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  font-family: Oswald;
  color: #f5f5f5;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.water-layer {
  margin: auto;
  width: 100%;
  height: 50%;
  background-color: #f5f5f5;
  font-family: Oswald;
  color: #755044;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3em;
}
#coffee-cup-outline {
  width: 23vh;
  position: relative;
}
.coffee-main-page-wrapper {
  padding: 1vh;
  margin-bottom: 0;
  width: 25vh;
  margin: auto;
  margin-top: 5vh;
}

.ice-image {
  margin: auto;
  width: 100%;
  height: 5%;
}

.milk-layer {
  width: 100%;
  height: 5%;
  background-color: #f2decc;
}

.favorite-icon {
  color: #d5a454;
}

.logo-icon-wrapper {
  position: relative;
  width: 40vh;
  border: 1px solid black;
}

.coffee-cup-wrapper {
  width: 20%;
  position: absolute;
  top: 52%;
  left: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-icon-wrapper > img {
  width: 100%;
}

.smoke-wrapper img {
  width: 1.2vh;
}

.nav-bar-main-wrapper {
  position: fixed;
  bottom: 0;
  color: #f5f5f5;
  margin: auto;
  width: 100%;
  padding: 0 1vh;
}

.nav-bar-main-wrapper svg {
  font-size: 1.8em;
}

.small-logo-icon {
  width: 7vh;
}

.small-logo-wrapper {
  padding: 0;
  margin: 2vh 1vh 0 1vh;
  border-radius: 50%;
}

.all-layers-wrapper {
  height: 90%;
  position: absolute;
  bottom: 0;
  padding: 2vh 1vh;
  width: 70%;
  margin: auto;
  margin-bottom: 0.3em;
}

#proportion-slider {
  color: #506c80;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  font-family: oswald;
}
