@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff5f4;
}

.main-container-wrapper {
  padding: 1vh 2vh 0 2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.heading-title-h1 {
  font-family: Oswald !important;
  color: #441c1e;
  font-size: 3em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin: 2vh 1vh;
}

.coffee-layer {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #755044;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: Oswald;
  color: #f5f5f5;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.water-layer {
  margin: auto;
  width: 100%;
  height: 50%;
  background-color: #fff5f4;
  font-family: Oswald;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3em;
}
#coffee-cup-outline {
  width: 23vh;
  position: relative;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  margin-left: 2vh;
}
.coffee-main-page-wrapper {
  padding: 1vh;
  margin-bottom: 0;
  width: 25vh;
  margin: auto;
  margin-top: 5vh;
}

.ice-image {
  margin: auto;
  width: 100%;
  height: 10%;
  position: absolute;
}

.milk-layer {
  position: absolute;
  width: 88%;
  height: 10%;
  background-color: #f3eed9;
  margin: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.favorite-icon {
  color: #d5a454;
}

.logo-icon-wrapper {
  position: relative;
  width: 40vh;
}

.coffee-cup-wrapper {
  width: 20%;
  position: absolute;
  top: 52%;
  left: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-icon-wrapper > img {
  width: 100%;
}

.smoke-wrapper img {
  width: 1.2vh;
}

.smoke-wrapper {
  display: flex;
  margin-left: 1vh;
}

.nav-bar-bar {
  margin: auto;
  position: fixed;
  bottom: 0;
  background-color: #3d1618;
  gap: 2vh;
  color: #fff5f4;
  width: 100%;
  max-width: 400px;
  padding: 1vh;
}

.nav-bar-bar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6vh;
  font-size: 1.2em;
}
.navbar-icon-label {
  font-size: 0.8em;
  white-space: nowrap;
  margin-top: 0.2em;
  font-family: roboto;
}

.nav-bar-bar a:hover {
  background-color: #57363599 !important;
}
.small-logo-icon {
  width: 7vh;
}

.small-logo-wrapper {
  padding: 0;
  border-radius: 50%;
}

.all-layers-wrapper {
  height: 80%;
  position: absolute;
  bottom: 0;
  padding: 1vh 1vh;
  width: 70%;
  margin: auto;
  margin-left: 2vh;
  margin-bottom: 0.3em;
}

#proportion-slider {
  color: #506c80;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  font-family: oswald;
}

.nav-bar-icon {
  min-width: 0 !important;
}
.coffee-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vh;
  background-color: #845555;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* coffee components */
.sugar-btn {
  width: 6vh;
  padding: 2vh;
  background-image: linear-gradient(#8c5c5c, #ba8787) !important;
  height: 6vh !important;
  border: 3px solid #3d1618;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sugar-btn:hover,
.sugar-btn:active,
.sugar-btn:focus,
.sugar-btn::selection {
  background-color: #ba8787 !important;
  background-image: none !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.sugar-cube {
  margin: 1vh;
  max-width: 6vh;
  image-rendering: -webkit-optimize-contrast !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

#no-sugar-cube {
  width: 5vh;
}

.coffee-component-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-img {
  max-width: 4vh;
  margin: 1vh;
  image-rendering: -webkit-optimize-contrast;
}

.temperature-btn {
  width: 6vh;
  padding: 2vw;
}

.sub-heading-1 {
  font-family: Oswald !important;
  color: #f5f5f5;
  font-weight: 500 !important;
  margin-bottom: 2vh;
}

.checkbox-milk {
  font-family: oswald;
  color: #3d1618;
}

.checkbox-milk .chakra-checkbox__control {
  display: none !important;
}
.checkbox-milk .chakra-checkbox__label {
  font-size: 1.2em !important ;
  background-color: #755044;
  padding: 1vh;
  border-radius: 5%;
  color: #fff5f4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  white-space: nowrap;
}

.checkbox-milk .chakra-checkbox__label:hover {
  background-color: #ba8787 !important;
}

.chakra-checkbox__input:checked ~ .chakra-checkbox__label {
  background-color: #ba8787 !important;
}
/* login  */
#login-page {
  background-color: #3d1618;
  flex-grow: 1;
  height: 896px;
}
#logo-login {
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eed9;
}
#logo-racoon {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  margin-top: 3em;
  width: 65%;
  image-rendering: -webkit-optimize-contrast !important;
}

#login-top-banner {
  background-color: #f3eed9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login-btn {
  background-color: #441c1e !important;
  color: #fff5f4;
  font-size: 1.2em !important;
  margin-top: 2vh;
}

.login-label {
  font-size: 1.3em;
  font-family: Roboto;
  text-transform: capitalize;
  color: #3d1618;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#here-link {
  color: #ef616b;
}

.heading-login {
  color: #441c1e;
}

#back-arrow {
  font-size: 2em;
  font-weight: 600;
  color: #441c1e;
}

#back-arrow:hover {
  color: #ef616b;
}

#back-arrow-btn:hover {
  background-color: transparent;
}

.content-main {
  overflow-y: hidden;
}
